.formLabel {
  font-size: 20px;
  color: rgb(17, 159, 224);
}

.formInput {
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(13, 122, 211);
  width: 210px;
  height: 45px;
  margin-bottom: 10px;
  color: rgb(17, 159, 224);
  background-color: rgba(108, 188, 99, 0.5);
}

.formBtn {
  font-size: 20px;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  color: rgb(13, 122, 211);
  background-color: orange;
  margin-top: 20px;
}
