.title {
  text-align: center;
  color: #08534e;
}

.formWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  align-content: center;
  margin: 0 auto;
}

.label {
  align-items: center;
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 0 auto;
  font-size: 20px;
  color: rgb(17, 159, 224);
}

.labelText {
  display: inline-block;
  width: 100px;
  padding-right: auto;
  margin-right: 15px;
  margin-left: 35px;
}

.formLabel {
}

.formInput {
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(13, 122, 211);
  width: 210px;
  height: 45px;
  margin-bottom: 10px;
  color: rgb(17, 159, 224);
  background-color: rgba(108, 188, 99, 0.5);
}

.formBtn {
  font-size: 20px;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  color: rgb(13, 122, 211);
  background-color: orange;
  margin-top: 20px;
}
