.contactItem {
  display: inline-flex;
  width: 500px;
  margin-bottom: 15px;
  border-bottom: 1px solid teal;
}

.contactName {
  font-size: 20px;
  margin-right: auto;
  color: teal;
}

.deleteContactBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: rgb(7, 66, 66);
  background-color: pink;
  cursor: pointer;
  border-color: palevioletred;
}
